[user]
	email = bdellaterra@users.noreply.github.com
	name = Brian Dellaterra
[core]
	autocrlf = false
	safecrlf = false
	ignorecase = false
	excludesfile = ~/.gitignore
[branch]
	autosetuprebase = always
[diff]
	renames = copies
[color]
	ui = true
[alias]
	a = add
	aa = !git add . && git commit -am
	b = branch 
	bd = branch -d
	bm = branch -m
	ca = commit --amend
	ci = commit
	cl = clone
	cm = commit -m
	cob = checkout -b
	co = checkout
	d = diff --word-diff
	dc = diff --cached
	ds = diff --stat
	ec = config --global -e
	rao = remote add origin
	m = submodule
	ma = submodule add
	mi = !git submodule init && git submodule update
	mu = submodule foreach git pull origin master
	pl = pull
	pu = push origin master
	pb = push -u origin --all
	pk = cherry-pick
	s = status -s
	st = status
	sl = stash list
	sa = stash apply
	ss = stash save

	# Condensed log
	l = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --graph --decorate --date=short

	# Log showing changed files
	ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat

	# list aliases
	aliases = "!git config -l | grep alias | cut -c 7-"

