{
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "env": {
        "browser": true,
        "node": true
    },
    "settings": {
        "ecmascript": 6,
        "jsx": true,
        "react": {
            "createClass": "createClass", // Regex for Component Factory to use, default to "createClass"
            "pragma": "React",  // Pragma to use, default to "React"
            "version": "15.0" // React version, default to the latest React stable release
        }
    },
    "plugins": [
        "react"
        ],
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended"
        ],
    "rules": {
        "strict": 0,
        "quotes": 0,
        "no-unused-vars": 0,
        "camelcase": 0,
        "no-underscore-dangle": 0,

        // From: https://gist.github.com/jhartikainen/7dd4124631fcff66b43f
        /* "quotes": [2, "single", "avoid-escape"], */
        "eqeqeq": 0,
        "brace-style": [2, "stroustrup"],
        "eol-last": 0,
        "no-nested-ternary": 1,
        "padded-blocks": [1, "never"],
        "space-after-function-name": [1, "never"],
        "space-before-blocks": [1, "always"],
    }
}
