[submodule "shell/.zsh/plugins/zsh-autoenv"]
    path = shell/.zsh/plugins/zsh-autoenv
    url = https://github.com/Tarrasch/zsh-autoenv.git
    ignore = dirty
[submodule "liquidprompt/liquidprompt"]
    path = liquidprompt/liquidprompt
    url = https://github.com/nojhan/liquidprompt
    ignore = dirty
[submodule "opt/opt/ctags-patterns-for-javascript"]
	path = opt/opt/ctags-patterns-for-javascript
	url = https://github.com/romainl/ctags-patterns-for-javascript.git
[submodule "opt/opt/bzb"]
	path = opt/opt/bzb
	url = git@github.com:bdellaterra/bzb.git
[submodule "node/.nvm"]
	path = node/.nvm
    url = https://github.com/nvm-sh/nvm.git
